:root {
  --menu-border-color: black;
  --background-color: white;
  --text-color: black;
  --active: #d62828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --menu-border-color: white;
    --background-color: black;
    --text-color: white;
    --active: #f77f00;
  }
}
a, a:visited {
  color: inherit;
}

body, html, #root {
  min-height: 100vh;
}

.App {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  flex: 1;
}
